openapi: 3.0.3
info:
  title: Union Pacific Account Cases API
  version: '1.0'
  description: The Union Pacific API provides developers and businesses with programmatic access to real-time railroad supply chain data and operational actions. The API enables shipment tracking, equipment management, order placement, case management, and intermodal planning. APIs are structured as data objects (building blocks) that can be used standalone or combined to create more robust supply chain workflows. Authentication uses OAuth 2.0 token-based flow with Client Credentials.
  contact:
    name: Union Pacific API Support
    email: apisupport@up.com
  x-generated-from: documentation
  x-last-validated: '2026-05-03'
servers:
- url: https://api.up.com
  description: Union Pacific API
security:
- oauth2: []
tags:
- name: Cases
  description: Manage exception cases for shipments that are off course
paths:
  /case:
    get:
      operationId: listCases
      summary: List Cases
      description: Find exception cases for shipments that are off course or require attention. Returns cases matching the account and filter criteria.
      tags:
      - Cases
      parameters:
      - name: accountId
        in: query
        required: false
        description: Account identifier to filter cases
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: Filter by case status
        schema:
          type: string
          enum:
          - OPEN
          - CLOSED
          - IN_PROGRESS
      - name: shipmentId
        in: query
        required: false
        description: Filter cases for a specific shipment
        schema:
          type: string
      responses:
        '200':
          description: List of cases
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Case'
        '401':
          description: Unauthorized
  /case/{caseId}:
    get:
      operationId: getCase
      summary: Get Case
      description: Retrieve details for a specific exception case.
      tags:
      - Cases
      parameters:
      - name: caseId
        in: path
        required: true
        description: Unique case identifier
        schema:
          type: string
      responses:
        '200':
          description: Case details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '401':
          description: Unauthorized
        '404':
          description: Case not found
components:
  schemas:
    Case:
      type: object
      description: An exception case for a shipment that is off course or requires attention
      properties:
        caseId:
          type: string
          description: Unique case identifier
        shipmentId:
          type: string
          description: Associated shipment ID
        status:
          type: string
          description: Case status
          enum:
          - OPEN
          - CLOSED
          - IN_PROGRESS
        type:
          type: string
          description: Type of exception
        description:
          type: string
          description: Human-readable description of the exception
        createdAt:
          type: string
          format: date-time
          description: When the case was created
        updatedAt:
          type: string
          format: date-time
          description: When the case was last updated
        accountId:
          type: string
          description: Account identifier
